$primaryColor: #585e40;
$secondaryColor: #a77f4d;
$thirdColor: #603830;
$fontColor: #312b20;

$defaultFont: "Inter", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;