header, nav, main, footer {
    margin: 0 auto;
    max-width: 60rem;
}

nav {
    display: flex;
    height: auto;
    ul {
        display: flex;
        justify-content: flex-end;
    }
}

header {
    display: grid;
    grid-template-columns: 120px 1fr 44px;
    column-gap: $gutter;
    align-items: center;
    padding: .5rem $gutter;
    picture {
        max-width: 100%;
    }
    img {
        max-width: 120px;
        height: auto;
    }
    h1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}