$primaryColor: #cc854e;
$secondaryColor: #613e31;
$thirdColor: #efbc7f;
$whiteColor: #e9dece;
$silverColor: #aaa4a4;

$defaultFont: "Afacad Flux", sans-serif;
$normalWeight: 400;
$lightWeight: 300;
$boldWeight: 500;

$gutter: 16px;