$primaryColor: #891d1a;
$secondaryColor: #5e657b;
$thirdColor: #210706;
$whiteColor: #f1e6d2;

$defaultFont: "Figtree", sans-serif;
$normalWeight: 400;
$lightWeight: 300;
$heavyWeight: 500;

$gutter: 16px;