$primaryColor: #4c2e2e;
$secondaryColor: #6f3132;
$accentColor: #b38a6a;
$orangeColor: #a15f22;
$fontColor: #d5c6af;

$defaultFont: "Inter", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;