header, nav, main {
    max-width: 60rem;
    margin: auto;
}

#headerWrapper header img {
    width: 200px;
    padding: .5rem;
}

#primaryNav {
    width: 100%;
}

.bundle {
    img {
        padding-right: 10px;
    }
}

// create the for loop
@for $i from 1 through 12 {
    $width: calc($i /12) *100%;
    .large-#{$i} {flex-basis: $width;}
}