$primaryColor: #45492d;
$secondaryColor: #8b4729;
$accentColor: #bb8d3f;
$lightColor: #818865;


$defaultFont: "Barlow", sans-serif;
$normalWeight: 400;
$lightWeight: 300;
$boldWeight: 500;

$gutter: 16px;