$primaryColor: #2a2d32;
$secondaryColor: #87908f;
$whiteColor: #e7e1d5;
$orangeColor: #894c2c;

$defaultFont: "Source Serif 4", serif;
$normalWeight: 400;
$lightWeight: 200;
$boldWeight: 500;

$gutter: 16px;